<h2>Add New Product</h2>
<hr>
<form (submit)="addNewProduct()">
    <label>Product Id</label>
    <input type="text" name="productId" [(ngModel)] = "product.productId">
    <br><br>
    <label>Name</label>
    <input type="text" name="productName" [(ngModel)] = "product.productName">
    <br><br>
    <label>Price</label>
    <input type="text" name="price" [(ngModel)] = "product.price">
    <br><br>
    <label>Category Id</label>
    <input type="text" name="catId" [(ngModel)] = "product.category.catId">
    <br><br>
    <input type="submit" value="Add New Product">
</form>
